{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block body %}
    <div>
        <img src="{{ asset('uploads/') ~ post.image }}" width="100%" alt="">
    </div>
    
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|localizeddate('long', 'none', app.request.locale) }}</span>
        <span class="metadata"><i class="fa fa-user"></i> Par {{ post.author.fullName }}</span>
    </p>

    {{ post.content|md2html }}

    {{ include('blog/_post_tags.html.twig') }}
{% endblock %}

{% block sidebar %}
    {# the parent() function includes the contents defined by the parent template
      ('base.html.twig') for this block ('sidebar'). This is a very convenient way
      to share common contents in different templates #}
    {{ parent() }}
{% endblock %}
